body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 470px;
  margin-top: 150px;
}
h2 {
  margin-top: 32px;
  font-size: 24.6px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700px;
}
form{
  margin-top: 30px;
  margin-left: 22px;
}
input {
  width: 384px;
  height: 22px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}
#loginBtn {
  width: 405px;
  height: 40px;
  padding: 10px;
  background-color: #3B82F6;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
#loginBtn:hover{
  background-color: #2563EB;
}
p{
  margin-top: 25px;
  text-align: center;
  font-size: 17px;
  color: #4B5563;
}
a {
  color: #2563EB;
  text-decoration: none;
}
a:hover{
  color: #3B82F6;
  cursor: pointer;
  text-decoration: underline;
}
.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 14px;
}